{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'map/css/pod.css' %}"/>
	<script src="{% static 'map/js/turf.min.js' %}"></script>
 	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
  	integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
   	crossorigin=""/>
	<script type="text/javascript" src="{% static 'map/ol2-master/lib/OpenLayers.js' %}" />
	<script type="text/javascript" src="{% static 'js/leaflet/leaflet.js' %}"></script>

{% endblock %}

{% block title %}Map : ClickWars {% endblock %}

{% block general %}
	<!--Bloc contenant les liens pour naviguer sur le site -->
	<div id="navigationDiv">
 
	</div>

	<!--Bloc contenant la carte -->
	<div id="mapDiv"></div>

	<!--Bloc contenant les scores -->
	<div id="scoreDiv"></div>

{% endblock %}

{% block script %}

	<!--Javascript executant le code élaborant les spécificités de la carte -->
	<script type="text/javascript" src="{% static 'map/js/LineStringEneo.js' %}"></script>
	<script type="text/javascript" src="{% static 'map/js/LineStringData.js' %}"></script>
	<script type="text/javascript" src="{% static 'map/js/linestring.js' %}"></script>

{% endblock %}

